name: run_tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  unittest:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.13"
            pytensor-flags: "gcc__cxxflags='-march
          - os: windows-latest
            python-version: "3.11"
            pytensor-flags: "gcc__cxxflags='-march=core2'"

    runs-on: ${{ matrix.os }}

    env:
      PYTENSOR_FLAGS: ${{ matrix.pytensor-flags }}
    defaults:
        run:
          shell: bash -leo pipefail {0}
    steps:
    - uses: actions/checkout@v4
    - uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: .github/conda_envs/sympytensor.yml
        micromamba-version: "latest"
        python-version: ${{ matrix.python-version }}
        environment-name: sympytensor-test
        init-shell: bash
        cache-environment: true

    - name: Install current branch
      run: |
        pip install -e .
        python --version

    - name: Run tests
      run: |
        python -m pytest -vv --cov=sympytensor --cov-report=xml --no-cov-on-fail --cov-report term tests/
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # use token for more robust uploads
        name: ${{ matrix.os }}
        fail_ci_if_error: false
        verbose: true
